Assignment1/RecommendationSystem/.idea/
Assignment1/WordCount/.idea/

Assignment1/RecommendationSystem/target/
Assignment1/WordCount/target

Assignment1/Task2_code_template/

Assignment1/WordCount/out/
Assignment1/RecommendationSystem/out/

Assignment2/CommonWords/.idea/



